@import url('../src/components/index.css');
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
}
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem 0;
}
h1 {
	text-align: center;
}
h2 {
	margin-bottom: 1rem;
}
hr {
	margin: 1rem 0;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #2c2c34;
	}

	a {
		color: #809fff;
	}
}
